.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 30px;
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.right-side {
  flex: 2;
  display: flex;
  flex-direction: column;
}
